@import "tailwindcss";

@theme {
  --font-display: "Poppins", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-primary: #e43f5a;
  --color-primary-hover: #c42c46;
  --color-tmdb-gradient: linear-gradient(30deg, #0d253f, #01b4e4, #01b4e4);

}

html,
body {
  @apply bg-gray-50 dark:bg-gray-950;
  color-scheme: light;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}


@layer base {
  a.active {
    color: var(--color-primary);
  }

  a:hover {
    color: var(--color-primary-hover);
  }
}